.site-text-primary,
.wt-small-separator {
  color: #fcc32e;
}

.site-bg-primary {
  background-color: #fcc32e;
}

.about-gym-one::after {
  border-color: #fcc32e;
}

.steps-section::after {
  background-color: #fcc32e;
}

.section-head.left.wt-small-separator-outer .wt-small-separator div.sep-leaf-left:before, .section-head.left.wt-small-separator-outer .wt-small-separator div.sep-leaf-left:after {
  background-color: #fcc32e;
}

.section-head.center .wt-small-separator div.sep-leaf-left:before {
  background-color: #fcc32e;
}

/*Workout classes Section One*/
.time-zone-table1 .table th .classes-days {
  background-color: #fcc32e;
}

.time-zone-table1 .table td:first-child {
  background-color: #fcc32e;
}

.time-zone-table1 .table td .content-data:hover:after {
  background-color: #fcc32e;
}

.site-button {
  background-color: #fcc32e;
}

.site-button:active, .site-button:focus, .site-button:visited {
  background-color: #fcc32e;
}

.ap-btn:hover:after {
  background: #fcc32e;
}

/*Team Style One*/
.wt-team-1 {
  background-color: #fcc32e;
}

.wt-team-1 .team-social-center {
  border-right: 3px solid #fcc32e;
}

.wt-team-1 .team-social-center ul li a:hover {
  color: #fcc32e;
}

/*---Owl slider button---*/
.owl-prev {
  background-color: #fcc32e;
  border-color: #fcc32e;
}

.owl-prev:hover, .owl-prev:active, .owl-prev:focus {
  background-color: #fcc32e;
  border-color: #fcc32e;
}

.owl-next {
  background-color: #fcc32e;
  border-color: #fcc32e;
}

.owl-next:hover, .owl-next:active, .owl-next:focus {
  background-color: #fcc32e;
  border-color: #fcc32e;
}

.blog-post-style-1 .wt-post-info .wt-post-author .post-author-name {
  color: #fcc32e;
}

.blog-post-style-1 .wt-post-info .wt-post-author .post-author-name {
  color: #fcc32e;
}

.blog-post-style-1:hover .wt-post-meta ul li {
  color: #fcc32e;
}

/*Footer dark version css*/
.footer-dark .widget-title {
  color: #fcc32e;
}

.footer-dark .social-icons li a {
  color: #fcc32e;
}

.footer-dark .footer-bottom .footer-link .copyrights-nav li a:hover {
  color: #fcc32e;
}

.footer-dark.foo-style2 .widget-title {
  color: #fcc32e;
}

.footer-dark.foo-style2 .widget_newsletter .newsletter-bx .site-button {
  background-color: #fcc32e;
}

.footer-dark.foo-style2 .social-icons li a {
  color: #fcc32e;
}

.widget_address li i {
  color: #fcc32e;
}

.play-now-video .icon {
  color: #fcc32e;
}

.site-button-link {
  color: #fcc32e;
}

/*Testimonial Style One*/
.testimonial-1-content:after {
  border: 3px solid #fcc32e;
}

.testimonial-1-content .testimonial-1 .testimonial-info .testimonial-position {
  color: #fcc32e;
}

/*Testimonial Style One*/
.testimonial-2-content .testimonial-2 .testimonial-content-bg:before {
  border: 3px solid #fcc32e;
}

.testimonial-2-content .testimonial-2 .testimonial-info .testimonial-position {
  color: #fcc32e;
}

/*Client Logo 1*/
.home-client2-outer .home-client2-carousel {
  background-color: #fcc32e;
}

/*Blog Style 2*/
.blog-post-style-2 .wt-post-media .wt-post-category a {
  background-color: #fcc32e;
}

/*Revolution Slider Button*/
.rev-btn .site-button {
  background-color: #fcc32e;
}

.bullet-bar .tp-bullet:hover, .bullet-bar .tp-bullet.selected {
  background: #fcc32e !important;
}

/*Revolution slider play btn*/
.tp-caption .rev-img-circle:after {
  background-color: #fcc32e;
}

.header-style-1 .header-nav .nav > li .sub-menu li:hover > a {
  color: #fcc32e;
}

.header-style-2 .top-bar .wt-topbar-right-info li span {
  color: #fcc32e;
}

.header-style-2 .top-bar .wt-topbar-left-info span {
  color: #fcc32e;
}

.header-style-2 .header-nav .nav > li .sub-menu li:hover > a {
  color: #fcc32e;
}

.header-style-2 .header-nav .nav > li.active > a,
.header-style-2 .header-nav .nav > li.current-menu-item > a {
  color: #fcc32e;
}

.header-style-2 .header-nav .nav > li:hover > a {
  color: #fcc32e;
}

.rev-play-now .icon {
  color: #fcc32e;
}

.rev-play-now .ripple,
.rev-play-now .ripple:before,
.rev-play-now .ripple:after {
  box-shadow: 0 0 0 0 #fcc32e;
}

.about-gym-two:after {
  border: 30px solid #fcc32e;
}

/*Team Style two*/
.wt-team-2 .wt-media::after {
  background-color: #fcc32e;
}

.wt-team-2 .team-detail .team-position {
  color: #fcc32e;
}

.wt-team-2 .team-social-center ul li a:hover {
  color: #fcc32e;
}

/*Tabs style 1 [ default ] */
.wt-tabs .nav-tabs > li a.active, .wt-tabs .nav-tabs > li:focus, .wt-tabs .nav-tabs > li:hover {
  background-color: #fcc32e;
}

/*Video Section*/
.video-section-two-outer:after {
  background-color: #fcc32e;
}

/*workout style three*/
.workout-box-style3-outer .workout-box-style3 .workout-content {
  background-color: #fcc32e;
}

/*Team Style three*/
.wt-team-3 .team-detail .team-position {
  color: #fcc32e;
}

/*Video Section*/
.video-section-three-outer .video-text:before {
  border: 4px solid #fcc32e;
}

/*Blog post-style 3*/
.blog-post-style-3 .wt-post-info .wt-post-author .post-author-name {
  color: #fcc32e;
}

.blog-post-style-3 .wt-post-meta ul li {
  color: #fcc32e;
}

/*Footer Light version css*/
.footer-light .social-icons li a {
  color: #fcc32e;
}

.footer-light .footer-bottom .footer-link .copyrights-nav li a:hover {
  color: #fcc32e;
}

.header-style-3 .top-bar .wt-topbar-left-info span {
  color: #fcc32e;
}

.header-style-3 .top-bar .wt-topbar-right-info li span {
  color: #fcc32e;
}

.header-style-3 .header-nav .nav > li.active > a,
.header-style-3 .header-nav .nav > li.current-menu-item > a {
  color: #fcc32e;
}

.header-style-3 .header-nav .nav > li:hover > a {
  color: #fcc32e;
}

.header-style-3 .header-nav .nav > li .sub-menu li:hover > a {
  color: #fcc32e;
}

.pricing-table-2 .p-table-price span {
  color: #fcc32e;
}

/*--Breadcrumb --*/
.wt-breadcrumb li a:hover {
  color: #fcc32e;
}

.wt-breadcrumb li:after {
  background-color: #fcc32e;
}

.wt-breadcrumb li:last-child {
  color: #fcc32e;
}

/* filter buttons css */
.filter-wrap .masonry-filter > li.active a {
  color: #fcc32e;
}

.filter-wrap .masonry-filter li:before {
  background: #fcc32e;
}

.filter-wrap .masonry-filter li a:hover, .filter-wrap .masonry-filter li a:active, .filter-wrap .masonry-filter li a:focus {
  color: #fcc32e;
}

.gallery-outer2 .gallery-style-2:hover .wt-info a:hover {
  background-color: #fcc32e;
}

.gallery-outer2 .gallery-content .gallery-category {
  color: #fcc32e;
}

/*---Owl dots button---*/
.owl-carousel .owl-dots .owl-dot:hover span {
  background: #fcc32e;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #fcc32e;
}

.info-list-1 li .title {
  color: #fcc32e;
}

/*Year section*/
.year-section:after {
  background-color: #fcc32e;
}

.schedule-column .inner-column .time span {
  color: #fcc32e;
}

.arrow-list-2 li span:before {
  color: #fcc32e;
}

/*Error Page*/
.page-notfound strong {
  color: #fcc32e;
}

/*Pagination Style*/
.pagination-outer .pagination-style1 ul li:hover {
  background-color: #fcc32e;
}

/*Blog Side Bar*/
.side-bar .search-bx .input-group-btn .btn {
  background-color: #fcc32e;
}

.side-bar .widget-insta-post ul li a:before {
  background-color: #fcc32e;
}

.side-bar .widget_services ul li a:hover {
  color: #fcc32e;
}

.blog-post-style-2.blog-post-single blockquote span cite {
  color: #fcc32e;
}

/*--Comment list--*/
ol.comment-list li.comment .comment-meta a {
  color: #fcc32e;
}

ol.comment-list li.comment .reply .comment-reply-link {
  background-color: #fcc32e;
}

/*About one Section*/
.faq-media:after {
  border: 4px solid #fcc32e;
}
/*# sourceMappingURL=skin-7.css.map */